*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    width: 98%;
    height: 50px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}
.menu{
    display: flex;
    align-items: center;
    padding-right: 50px;
    width: 20%;
    justify-content: space-evenly;
    
}
.id{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(unnamed.jpg);
    background-size: cover;
    padding-right: 0px;
}
.tab:hover{
    size: 1.5rem;
}
.mail{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000DE;
    font-size: 12px;
    
}
.images{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000DE;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #000000DE;
}
a:hover{
    text-decoration: underline;
}

.hero{
    /* background-color: black; */
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    width: 272px;
    height: 92px;
}

.searchbar{
    /* background-color: pink; */
    height: 80px;
    width: 100%;
    padding: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.tt{
    height: 46px;
    border: 1px solid grey;
}

.glasses{
    width: 33px;
    color: grey;
    /* background-color: blue; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
}
.tabl{
    width: 443px;
    height: 44px;
    border-left: none;
    border-right: none;
    /* background-color: blueviolet; */

}
.microphone{
    width: 33px;
    color: grey;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-left: none;
}

.camera{
    width: 33px;
    color: grey;
    /* background-color: blue; */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
}
.tabl:click{
    border: none;
}
.ad{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance{
    margin: 20px;
    background-color: #F8F9FA;
    margin: 11px;
    padding: 16px;
}

button{
    border: none;
    background-color: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;

}
.advance:hover{
    border: 1px solid black;
    size: 1.5rem;
}
.languages{
    /* background-color: pink; */
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}
.lan-tab{
    font-size: 12px;
}
a{
    color: rgb(23, 105, 227);
    font-size: 10px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
footer{
    margin-top: 80px; 
    background-color: hsl(210, 13%, 94%);  
    margin-top: auto; 

}
.country{
    width: 100%;
    height: 25px;
    
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid black;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    color: #70757A;
    font-size: 14px;
}
.about{
    height: 40px;
    display: flex;
    margin-bottom: 0px;
}

.a1{
    color: #70757A;
    font-size: 12px;
}

.part1{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
.space{
    width: 40%;
}
.part2{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 768px) {
    .menu {
        width: 40%; /* Adjust the menu width for smaller screens */
    }

    .glasses, .microphone, .camera {
        width: 28px; /*icon size for smaller screens */
    }

    .tab:hover {
        font-size: 1rem; /*size on hover for smaller screens */
    }

    .searchbar {
        padding: 10px; /*padding for the search bar on smaller screens */
    }

    .languages {
        height: auto; /*languages section to expand vertically on smaller screens */
        flex-wrap: wrap; /* Wrap language links to a new line if they don't fit */
    }

    .lan-tab a {
        font-size: 12px; /*font size for language links on smaller screens */
    }
}







